<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Block List Viewer</title>
</head>
<body>

  <header class="header d-flex justify-content-between align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
      <h1>Block List Viewer</h1>
      <a href="https://github.com/Ableytner/BlockCounterCLI" class="btn btn-primary">GitHub Repository</a>
    </div>
  </header>

  <main role="main" class="container my-3">
    <div class="row">
      <div class="col-md-12">
        <app-blocklist></app-blocklist>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <span>&copy; 2024 Block List Viewer</span>
    </div>
  </footer>
</body>
</html>